doctype html
html
	head
		title Freedom35 Admin
		link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
		link(rel="stylesheet" href="/pages/admin/style.min.css")
		script(src='/pages/admin/jquery-3.2.1.min.js')
		script(src='/pages/admin/controller.js')
	body
		.bloc.landing
			h1 Landing page
			span Texte du titre
			input(type='text' class='landingTextTitle' value=data.landing.textTitle)
			span Couleur du titre
			input(type='text' class='landingColorTitle' value=data.landing.colorTitle)
			span Texte du sous-titre
			textarea(class='landingTextSubtitle') #{data.landing.textSubtitle}
			span Couleur du sous-titre
			input(type='text' class='landingColorSubtitle' value=data.landing.colorSubtitle)
			span Texte du bouton
			input(type='text' class='landingTextButton' value=data.landing.textButton)
			span Couleur de fond du bouton
			input(type='text' class='landingBgcolorButton' value=data.landing.bgcolorButton)
			span Couleur du texte du bouton
			input(type='text' class='landingColorButton' value=data.landing.colorButton)
		.bloc.textOnly
			h1 Texte seulement
			span Texte
			textarea(class='textonlyTextBody') #{data.textOnly.textBody}
			span Couleur du texte
			input(type='text' class='textonlyColorBody' value=data.textOnly.colorTextBody)

		.bloc
			.validate
				| Valider les changements
