doctype html
html
	head
		title Freedom35 Admin
		link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
		link(rel="stylesheet" href="/pages/admin/style.min.css")
		script(src='/pages/admin/jquery-3.2.1.min.js')
		script(src='/pages/admin/controller.js')
	body
		.bloc.nav
			h1 Navigation
			h2 Disposition du menu
			input(type='radio' name='nav' value='nav1' id='nav1' class='navigationChoice' checked=(data.navigation.choice == 'nav1'))
			label(for='nav1') Type 1
			input(type='radio' name='nav' value='nav2' id='nav2' class='navigationChoice' checked=(data.navigation.choice == 'nav2'))
			label(for='nav2') Type 2
		.bloc.landing
			h1 Landing page
			h2 Texte du titre
			input(type='text' class='landingTextTitle' value=data.landing.textTitle)
			h2 Couleur du titre
			input(type='text' class='landingColorTitle' value=data.landing.colorTitle)
			h2 Texte du sous-titre
			textarea(class='landingTextSubtitle') #{data.landing.textSubtitle}
			h2 Couleur du sous-titre
			input(type='text' class='landingColorSubtitle' value=data.landing.colorSubtitle)
			h2 Texte du bouton
			input(type='text' class='landingTextButton' value=data.landing.textButton)
			h2 Couleur de fond du bouton
			input(type='text' class='landingBgcolorButton' value=data.landing.bgcolorButton)
			h2 Couleur du texte du bouton
			input(type='text' class='landingColorButton' value=data.landing.colorButton)
		.bloc.textOnly
			h1 Texte seulement
			h2 Texte
			textarea(class='textonlyTextBody') #{data.textOnly.textBody}
			h2 Couleur du texte
			input(type='text' class='textonlyColorBody' value=data.textOnly.colorTextBody)

		.bloc
			.validate
				| Valider les changements
