doctype html
html
	head
		title Freedom35 Admin
		link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
		link(href='/static/lib/font-awesome-4.7.0/css/font-awesome.min.css' rel='stylesheet')
		link(rel="stylesheet" href="/pages/admin/style.min.css")
		script(src='/pages/admin/jquery-3.2.1.min.js')
		script(src='http://malsup.github.com/jquery.form.js')
		script.
			old=!{JSON.stringify(data)};
		script(src='/pages/admin/controller.js')
	body
		#header
			a(href='/')
				.home.fa.fa-home.fa-4x
		form(enctype='multipart/form-data' method='post' id='form' action='/updateContent')
			each cat, h1 in data
				.bloc
					h1 #{h1}
					each tab, h2 in cat
						h2 #{h2}
						.collapsable
							each val in tab
								if (val.name != "data")
									h3 #{val.name}
									if val.type === 'radio'
										each value in val.options
											input(type='radio' value=value data-id=h1 + h2 + val.name name=removeSpaces(h1 + h2 + val.name))
											label(for=removeSpaces(h1 + h2 + val.name)) #{value}
									else if val.type === 'textarea'
										textarea(data-id=h1 + h2 + val.name) #{val.value}
									else
										input(type=val.type value=val.value data-id=h1 + h2 + val.name)
			.bloc
				.load-wrap
					.load
						.square
				input(type='submit').validate
