doctype html
html
	head
		title Freedom35 Admin
		link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
		link(rel="stylesheet" href="/pages/admin/style.min.css")
		script(src='/pages/admin/jquery-3.2.1.min.js')
		script(src='http://malsup.github.com/jquery.form.js')
		script.
			old=!{JSON.stringify(data)};
		script(src='/pages/admin/controller.js')
	body
		// Creer un machin PUG a Include pour les Input type Image, pour un upload propre et une preview.
		// Pareil pour les radios.
		// Il faut faire une fonction qui transform le "h1 + h2 + val.name" pour l'envoyer dans le formulaire.
		// Il faut trouver un moyen d'acceder aux datas en front, foutus tableaux.
		// Bref, il y a du travail. Bonne nuit !

		form(enctype='multipart/form-data' method='post' id='form' action='/updateContent')
			each cat, h1 in data
				.bloc
					h1 #{h1}
					each tab, h2 in cat
						h2 #{h2}
						.collapsable
							each val in tab
								h3 #{val.name}
								if val.type === 'radio'
									each value in val.options
										input(type='radio' value=value class=h1 + h2 + val.name)
										label(for=value) #{value}
								else if val.type === 'textarea'
									textarea(class=h1 + h2 + val.name) #{val.value}
								else
									input(type=val.type value=val.value class=h1 + h2 + val.name)
							
