link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
link(rel="stylesheet" href="/pages/pricing/style.min.css")

#pricing.container.page
	.row
		h1
			| #{ge('Pricing.Titre.Texte')}
	.row
		p.col-md-8.col-md-offset-2
			| #{ge('Pricing.Sous-titre.Texte')}
	.row
		.price.col-md-2.col-md-offset-2
			.row
				h1 #{ge('Pricing.Premier bloc.Prix')}$
				p #{ge('Pricing.Premier bloc.Texte')}
				.button.col-md-8.col-md-offset-2 Acheter
		.price.col-md-2.col-md-offset-1
			.row
				h1 #{ge('Pricing.Second bloc.Prix')}$
				p #{ge('Pricing.Second bloc.Texte')}
				.button.col-md-8.col-md-offset-2 Acheter
		.price.col-md-2.col-md-offset-1
			.row
				h1 #{ge('Pricing.Troisième bloc.Prix')}$
				p #{ge('Pricing.Troisième bloc.Texte')}
				.button.col-md-8.col-md-offset-2 Acheter
