link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
link(rel="stylesheet" href="/pages/pres/style.min.css")

#pres.container.page(style='background-image: url("'+ ge('Présentation.Fond.Image') +'"); background-color: ' + ge('Présentation.Fond.Couleur'))
	.row
		h1(style='color: ' + ge('Présentation.Titre.Couleur'))
			| #{ge('Présentation.Titre.Texte')}
	.row
		.col-md-4.box
			.wrap
				img(src=ge('Présentation.Premier bloc.Image'))
			h2
				| #{ge('Présentation.Premier bloc.Titre')}
			p
				| #{ge('Présentation.Premier bloc.Texte')}
		.col-md-4.box
			.wrap
				img(src=ge('Présentation.Second bloc.Image'))
			h2
				| #{ge('Présentation.Second bloc.Titre')}
			p
				| #{ge('Présentation.Second bloc.Texte')}
		.col-md-4.box
			.wrap
				img(src=ge('Présentation.Troisième bloc.Image'))
			h2
				| #{ge('Présentation.Troisième bloc.Titre')}
			p
				| #{ge('Présentation.Troisième bloc.Texte')}
